<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Neon - Elite access</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Club Neon - Elite access</h1>
    <nav>
        <div><a href="/sign-out">LOGOUT</a></div>
        <div id="highSociety">high society? <a href="/secretForm">Click here</a></div>
    </nav>
    <h1>Welcome, <%= username %>!</h1>
    <div class="messageBoard">
        <% results.map((res) => { %>
            <div class="message-card">
                <div class="message-header">
                    <span class="username"><%= res.username %></span>
                    <% if (isAdmin) { %>
                        <form action="/delete-message" method="post">
                            <input type="hidden" name="message" value="<%= res.message %>">
                            <button type="submit" id="deleteButton">DELETE</button>
                        </form>
                    <% } %>
                </div>
                <div class="message-content"><%= res.message %></div>
                <div class="message-glow"></div>
            </div>
        <% }) %>
    </div>
    <br>
    <form action="/secretHome   " method="post">
        <div>Add a message to the board</div>
        <label for="message">Add Message</label>
        <input type="text" name="message" id="message" required>
        <input type="hidden" name="originalUserId" value="<%= user_id %>">
        <button type="submit">Add</button>
    </form>
</body>
</html>